.form-login{
    max-width: 400px;
}

.btn-cadastro{
    background-color: #1aebb6;
    color: rgb(0, 0, 0);
    width: 100%;
}

.btn-cadastro:hover{
    background-color: #05818f;
    color: #fff;
}

.invalidField{
    border-color: red;
}