.img-banner{
    width: 100%;
    min-height: 300px;
    max-height: 350px;
}

.box-info{
    background-color: #614ea6;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.btn-editar{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #f21667;
    transition: .3s ease-in;
}

.btn-delete{
    position: fixed;
    bottom: 10px;
    right: 60px;
    color: #f21667;
    transition: .3s ease-in;
    border-color: transparent;
    background-color: transparent;
}

.btn-editar i:hover{
    color:#614ea6;
}

.imageEditBtn{
    width: 40px;
    height: 40px;
}

.imageDeleteBtn{
    width: 35px;
    height: 35px;
}